@import "./theme/variables.scss";

body {
  .container {
    .books {
      .booklist {
        list-style-type: disc;
        .title {
          
        }
        .author {
          color: $secondary-text-color;
        }

        .date {
          font-size: 13px;
          color: $secondary-text-color;
        }
      }
    }
  }
}
