@import './theme/variables.scss';

.home {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

    h1 {
        margin: 0;
    }

    .profile-picture {
        max-width: 256px;
        border-radius: 100%;
    }

    p {
        text-align: justify;
    }
    
    .social-links {
        &_item {
            button {
                padding: 10px 20px;
                margin-right: 10px;
                margin-bottom: 10px;
                font-size: 1rem;
                transition: all .5s;
                background-color: $background-color;
                border: 2px solid $secondary-color;
                color: $primary-text-color;
                outline: 0;
                min-width: 140px;
                border-radius: 40px;
                cursor: pointer;
                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }    
}
