@import './theme/variables.scss';

body {
  .container {
    .post {
      p, li {
        >pre, >code {
          background-color: #242b35;
          padding: 4px;
        }
          img {
              max-width: 200px;
          }
      }
      blockquote {
        padding: 4px 16px;
        border-left: 3px solid $primary-color;
        p {
          margin: 0;
        }
      }
  }
  }
}
