---
title: Dixita Ganatra
layout: resume.njk
---

<div id='resume'>
  <div id='nameBlock' class='largeFont'>
    <span class='name'>
      {{ resume.basics.name }}{{ ',' if resume.basics.label }}
    </span>
    {%- if resume.basics.label %}
      <span class='label'>{{ resume.basics.label }}</span>
    {%- endif %}
  </div>
  <div id='basicsBlock' class='smallFont'>
    <div class='contactBlock'>
      {%- if resume.basics.email %}
        <span class='email'>{{ resume.basics.email }}</span>
      {%- endif %}
      {%- if resume.basics.phone %}
        <span class='divider'>|</span>
        <span class='phone'>{{ resume.basics.phone }}</span>
      {%- endif %}
      <span class='divider'>|</span>
      <span class='address'>
        {%- if resume.basics.location.city %}
          {{ resume.basics.location.city }}
        {%- endif %}
        {%- if resume.basics.location.region %}, {{ resume.basics.location.region }}
        {%- endif %}
        {%- if resume.basics.location.countryCode %}, {{ resume.basics.location.countryCode }}
        {%- endif %}
      </span>
    </div>
    {%- if resume.basics.profiles.length %}
      <div id='profilesBlock'>
        {%- for profile in resume.basics.profiles %}
          {%- if profile.url %}
            <span class='url'>
              <a href='{{ profile.url }}' target='_blank'>{{ profile.network }}</a>
            </span>
            {# Find alternative of unless last #}
            <span class='divider'>|</span>
          {%- endif %}
        {%- endfor %}
      </div>
    {%- endif %}
  </div>
  <div class='sectionLine'></div>
  {%- if resume.basics.summary %}
    <div id='summaryBlock' class='sectionBlock'>
      <div class='sectionName'>
        <span>SUMMARY</span>
      </div>
      <div class='sectionContent'>
        <span>{{ resume.basics.summary }}</span>
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.work.length %}
    <div id='workBlock' class='sectionBlock'>
      <div class='sectionName'>
        <span>EXPERIENCE</span>
      </div>
      <div class='sectionContent'>
        {%- for work in resume.work %}
          {% if loop.index0 !== 0 %}
            <div class='separator'></div>
          {% endif %}
          <div class='jobBlock'>
            <div class='blockHeader'>
              <span class='title'>
                {%- if work.company -%}
                  {{ work.company }}
                {%- endif %}
                {%- if work.position %}
                  - {{ work.position }}
                {%- endif -%}
              </span>
              {%- if work.startDate %}
                <span class='date'>
                  {{ work.startDate }} &mdash;
                  {%- if work.endDate %}
                    {{ work.endDate }}
                    {%- else %}Present{%- endif -%}
                </span>
              {%- endif -%}
            </div>
            {%- if work.website %}
              <div>
                <a href='{{ work.website }}' target='_blank'>{{ work.website }}</a>
              </div>
            {%- endif -%}
            {%- if work.summary %}
              <span>{{ work.summary }}</span>
            {%- endif -%}
            {%- if work.highlights.length %}
              <ul class='highlights'>
                {%- for highlight in work.highlights %}
                  <li>{{ highlight }}</li>
                {%- endfor %}
              </ul>
            {%- endif %}
            {%- if work.details.length %}
              <ul class='details'>
                {%- for detail in work.details %}
                  <li>
                    {%- if detail.text %}
                      {{ detail.text }}
                    {%- endif %}
                    {%- if detail.comment %}
                      <em>[{{ detail.comment }}]</em>
                    {%- endif %}
                  </li>
                {%- endfor %}
              </ul>
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.publications.length %}
    <div id='publications'>
      <div class='sectionName'>
        <span>PUBLICATIONS</span>
      </div>
      <div class='sectionContent'>
        {%- for publication in resume.publications %}
          {% if loop.index0 !==0 %}
            <div class='separator'></div>
          {% endif %}
          <div class='blockHeader'>
            <span class='title'>
              {%- if publication.name %}
                {%- if publication.url %}
                  <a href='{{ publication.url }}' target='_blank'>{{ publication.name }}</a>
                {%- else %}
                  {{ publication.name }}
                {%- endif %}
              {%- endif -%}
              {{ ',' if resume.basics.label }}
              {%- if publication.publisher %}
                {{ publication.publisher }}
              {%- endif -%}
            </span>
            {%- if publication.releaseDate %}
              <div class='date'>
                <span class='releaseDate'>{{ publication.releaseDate }}</span>
              </div>
            {%- endif %}
          </div>
          {%- if publication.highlights.length %}
            <ul class='highlights'>
              {%- for highlight in highlights %}
                <li>{{ highlight }}</li>
              {%- endfor %}
            </ul>
          {%- endif %}
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.awards.length %}
    <div id='awards' class='sectionBlock'>
      <div class='sectionName'>
        <span>AWARDS</span>
      </div>
      <div class='sectionContent'>
        {%- for award in resume.awards %}
          {% if loop.index0 !==0 %}
            <div class='separator'></div>
          {% endif %}
          <div class='blockHeader'>
            <span class='title'>
              {%- if award.title %}
                {{ award.title }}
              {%- endif %}
              {%- if award.awarder %}, {{ award.awarder }}
              {%- endif %}
            </span>
            {%- if award.date %}
              <span class='date'>
                <span class='date'>{{ award.date }}</span>
              </span>
            {%- endif %}
          </div>
          {%- if award.highlights.length %}
            <ul class='highlights'>
              {%- for highlight in highlights %}
                <li>{{ highlight }}</li>
              {%- endfor %}
            </ul>
          {%- endif %}
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.volunteer.length %}
    <div id='volunteer' class='sectionBlock'>
      <div class='sectionName'>
        <span>VOLUNTEERING</span>
      </div>
      <div class='sectionContent'>
        {%- for volunteer in resume.volunteer %}
          {% if loop.index0 !==0 %}
            <div class='separator'></div>
          {% endif %}
          <div class='blockHeader'>
            <span class='title'>
              {%- if volunteer.organization %}
                {{ volunteer.organization }}
              {%- endif %}
              {%- if volunteer.position %}
                - {{ volunteer.position }}
              {%- endif %}
            </span>
            {%- if volunteer.startDate %}
              <span class='date'>
                {%- if volunteer.startDate %}
                  {{ volunteer.startDate }}
                {%- endif %}
                &mdash;
                {%- if volunteer.endDate %}
                  {{ volunteer.endDate }}
                  {%- else %}Present{%- endif %}
              </span>
            {%- endif %}
            {%- if volunteer.website %}
              <div>
                <a href='{{ website }}' target='_blank'>{{ volunteer.website }}</a>
              </div>
            {%- endif %}
            {%- if volunteer.summary %}
              <div>
                {{ volunteer.summary }}
              </div>
            {%- endif %}
            {%- if volunteer.highlights.length %}
              <ul class='highlights'>
                {%- for highlight in highlights %}
                  <li>{{ highlight }}</li>
                {%- endfor %}
              </ul>
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.education.length %}
    <div id='education' class='sectionBlock'>
      <div class='sectionName'>
        <span>EDUCATION</span>
      </div>
      <div class='sectionContent'>
        {%- for education in resume.education %}
          {% if loop.index0 !==0 %}
            <div class='separator'></div>
          {% endif %}
          <div class='educationBlock'>
            <span class='title'>
              {%- if education.institution %}
                {{ education.institution }}
              {%- endif %}
            </span>
            {%- if education.startDate %}
              <span class='date'>
                {%- if education.startDate %}
                  {{ education.startDate }}
                {%- endif %}&mdash;{%- if education.endDate %}
                  {{ education.endDate }}
                  {%- else %}Present{%- endif %}
              </span>
            {%- endif %}
            <div class=''>
              {%- if education.studyType %}
                {{ education.studyType }}
              {%- endif %}-{%- if education.area %}
                {{ education.area }}
              {%- endif %}
              {%- if education.score %}, CGPA: {{ education.score }}
              {%- endif %}
            </div>
            {%- if courses.length %}
              <div id='coursesBlock'>
                <ul class='coursesList'>
                  {%- for course in courses %}
                    <li class='course'>{{ course }}</li>
                  {%- endfor %}
                </ul>
              </div>
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.certificates.length %}
    <div class='sectionBlock'>
      <div class='sectionName'>
        <span>CERTIFICATES</span>
      </div>
      <div class='sectionContent'>
        {%- for certificate in resume.certificates %}
          {% if loop.index0 !==0 %}
            <div class='separator'></div>
          {% endif %}
          <div class='blockHeader'>
            <span class='title'>
              {%- if certificate.name %}
                {%- if certificate.url %}
                  <a href='{{ certificate.url }}' target='_blank'>{{ certificate.name }}</a>
                {%- else %}
                  {{ certificate.name }}
                {%- endif %}
              {%- endif -%}
              {{ ',' if certificate.issuer }}
              {%- if certificate.issuer %}
                {{ certificate.issuer }}
              {%- endif %}
            </span>
            {%- if certificate.date %}
              <div class='date'>
                <span class='releaseDate'>{{ certificate.date }}</span>
              </div>
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.skills.length %}
    <div id='skills' class='sectionBlock'>
      <div class='sectionName'>
        <span>SKILLS</span>
      </div>
      <div class='sectionContent'>
        {%- for skill in resume.skills %}
          <div class='skillBlock'>
            <span class='title'>
              {%- if skill.name %}
                {{ skill.name }}
              {%- endif %}
              {%- if skill.level %}
                <em>({{ skill.level }})</em>
              {%- endif %}:</span>
            {%- if skill.keywords.length %}
              {%- for keyword in skill.keywords -%}
                {{ ',' if loop.index0 !==0 }}
                <span>{{ keyword }}</span>
              {%- endfor %}
            {%- endif %}
            {%- if skill.details.length %}
              {%- for detail in skill.details %}
                <span>
                  {%- if detail.text %}
                    {{ detail.text }}
                  {%- endif %}
                  {%- if detail.comment %}
                    <em>({{ detail.comment }})</em>
                  {%- endif %},
                </span>
              {%- endfor %}
            {%- endif %}
          </div>
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.languages.length %}
    <div id='languages' class='sectionBlock'>
      <div class='sectionName'>
        <span>LANGUAGES</span>
      </div>
      <div class='sectionContent'>
        {%- for language in resume.languages -%}
          {{ ',' if loop.index0 !==0 }}
          <span class='language'>{{ language.language }}</span>
          {%- if language.fluency %}
            <span class='fluency'>
              <em>({{ language.fluency }})</em>
            </span>
          {%- endif %}
        {%- endfor %}
      </div>
    </div>
    <div class='sectionLine'></div>
  {%- endif %}
  {%- if resume.interests.length %}
    <div id='interests' class='sectionBlock'>
      <div class='sectionName'>
        <span>INTERESTS</span>
      </div>
      <div class='sectionContent'>
        {%- for interest in resume.interests -%}
          {{ ',' if loop.index0 !== 0 }}
          <span class='name'>{{ interest.name }}</span>
          {%- if keywords.length %}
            <span class='keywords'>
              <em>
                {%- for keyword in keywords -%}
                  {{ ',' if loop.index0 !==0 }}
                  {{ keyword }}
                {%- endfor %}
              </em>
            </span>
          {%- endif %}
        {%- endfor %}
      </div>
      <div class='sectionLine'></div>
    </div>
  {%- endif %}
</div>
