---
pagination:
  data: collections
  size: 1
  alias: tag
layout: base.njk
permalink: /tags/{{ tag | slugify }}/
---

<h1>#{{ tag }}</h1>
{% set posts = collections[ tag ] %}
{% include "postlist.njk" %}
<p>See
  <a href="/tags/">all tags</a>.
</p>
